In [1]:
import dask.dataframe as dd
import dask.distributed

In [2]:
import pandas as pd

In [ ]:
client = dask.distributed.Client()

In [3]:
trips = dd.read_parquet('/bigdata/all_trips.parquet')

In [4]:
trips.columns

Index(['dropoff_datetime', 'dropoff_latitude', 'dropoff_location_id',
       'dropoff_longitude', 'ehail_fee', 'extra', 'fare_amount',
       'improvement_surcharge', 'mta_tax', 'passenger_count', 'payment_type',
       'pickup_datetime', 'pickup_latitude', 'pickup_location_id',
       'pickup_longitude', 'rate_code_id', 'store_and_fwd_flag', 'tip_amount',
       'tolls_amount', 'total_amount', 'trip_distance', 'trip_type',
       'vendor_id'],
      dtype='object')

In [5]:
import uuid, sqlalchemy

In [6]:
engine = sqlalchemy.create_engine(open('/home/shekhar/.sqlconninfo').read())
conn = engine.connect()

In [7]:
uu = uuid.uuid1().hex
tableID = 'uu_{}'.format(uu)
tableIDLoc = 'uuloc_{}'.format(uu)

In [8]:
uu

'a84ed8622f4711e79d2d902b3437c844'

In [9]:
# trips1 = trips.get_partition(1).compute()

In [10]:
# trips1499 = trips.get_partition(1499).compute()

In [11]:
# trips1 = trips1.append(trips1499)

In [48]:
trips1 = trips.get_partition(1).compute()

In [49]:
trips1 = trips1.reset_index(drop=True)

In [50]:
trips2 = trips1[['pickup_longitude', 'pickup_latitude', 'pickup_location_id']]
trips2.columns = ['lon', 'lat', 'locid']
trips2.to_sql(tableID, engine, index_label='trip_id')

In [51]:
trips2.head()

       lon      lat  locid
0 -73.9706  40.7586    NaN
1 -73.9994  40.7605    NaN
2 -73.9999  40.7320    NaN
3 -73.9793  40.7635    NaN
4 -74.0047  40.7204    NaN

In [38]:
trips1.shape

(1930590, 23)

In [39]:
conn.execute('''CREATE UNLOGGED TABLE {} AS
SELECT
  trip_id,
  ST_SetSRID(ST_MakePoint(lon, lat), 4326) as loc
FROM {}
WHERE locid IS NULL
;
CREATE INDEX on {} USING GIST(loc);
'''.format(tableIDLoc, tableID, tableIDLoc))

In [40]:
df1 = pd.read_sql('''SELECT t.trip_id, n.gid as census_tract_id
FROM {} AS t, nyct2010 AS n
WHERE ST_Within(t.loc, n.geom) ORDER BY t.trip_id;'''.format(tableIDLoc), engine)
df2 = pd.read_sql('''SELECT t.trip_id, n.gid as taxi_zone_id
FROM {} AS t, taxi_zones AS n
WHERE ST_Within(t.loc, n.geom) ORDER BY t.trip_id;'''.format(tableIDLoc), engine)

In [41]:
trips1.head()

,dropoff_datetime,dropoff_latitude,dropoff_location_id,dropoff_longitude,ehail_fee,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,...,pickup_location_id,pickup_longitude,rate_code_id,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,trip_type,vendor_id
0,2016-12-26 15:04:45,NaN,144.0,NaN,NaN,0.0,13.5,0.3,0.5,1,...,186.0,NaN,1,N,1.00,0.0,15.30,3.10,yellow,1
1,2016-12-26 15:00:49,NaN,239.0,NaN,NaN,0.0,10.5,0.3,0.5,1,...,141.0,NaN,1,N,2.82,0.0,14.12,2.06,yellow,2
2,2016-12-26 15:03:00,NaN,262.0,NaN,NaN,0.0,15.0,0.3,0.5,2,...,79.0,NaN,1,N,0.00,0.0,15.80,4.26,yellow,2
3,2016-12-26 14:50:33,NaN,234.0,NaN,NaN,0.0,3.5,0.3,0.5,1,...,234.0,NaN,1,N,0.00,0.0,4.30,0.30,yellow,1
4,2016-12-26 14:58:17,NaN,163.0,NaN,NaN,0.0,8.0,0.3,0.5,1,...,170.0,NaN,1,N,1.76,0.0,10.56,1.29,yellow,2

In [42]:
trips2.head()

   lon  lat  locid
0  NaN  NaN  186.0
1  NaN  NaN  141.0
2  NaN  NaN   79.0
3  NaN  NaN  234.0
4  NaN  NaN  170.0

In [43]:
df1.set_index('trip_id').head()

Empty DataFrame
Columns: [census_tract_id]
Index: []

In [44]:
df2.set_index('trip_id').head()

Empty DataFrame
Columns: [taxi_zone_id]
Index: []

In [45]:
zz = (trips1.dropna(axis=1, how='all').merge(
        df1.set_index('trip_id'), left_index=True, right_index=True, how='left', sort=True)).merge(
        df2.set_index('trip_id'), left_index=True, right_index=True, how='left', sort=True)

In [46]:
# zz = (trips1.merge(df1, left_index=True, right_on='trip_id', how='left')).merge(
#     df2, left_index=True, right_on='trip_id', how='left')
zz.drop([ 'vendor_id', 'store_and_fwd_flag', 'payment_type'], axis=1).sort_index().rename(
    columns={'census_tract_id': 'pickup_ct_id', 'taxi_zone_id': 'pickup_tz_id'})

,dropoff_datetime,dropoff_location_id,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,pickup_datetime,pickup_location_id,rate_code_id,tip_amount,tolls_amount,total_amount,trip_distance,trip_type,pickup_ct_id,pickup_tz_id
0,2016-12-26 15:04:45,144.0,0.0,13.5,0.3,0.5,1,2016-12-26 14:48:26,186.0,1,1.00,0.0,15.30,3.10,yellow,NaN,NaN
1,2016-12-26 15:00:49,239.0,0.0,10.5,0.3,0.5,1,2016-12-26 14:48:26,141.0,1,2.82,0.0,14.12,2.06,yellow,NaN,NaN
2,2016-12-26 15:03:00,262.0,0.0,15.0,0.3,0.5,2,2016-12-26 14:48:26,79.0,1,0.00,0.0,15.80,4.26,yellow,NaN,NaN
3,2016-12-26 14:50:33,234.0,0.0,3.5,0.3,0.5,1,2016-12-26 14:48:27,234.0,1,0.00,0.0,4.30,0.30,yellow,NaN,NaN
4,2016-12-26 14:58:17,163.0,0.0,8.0,0.3,0.5,1,2016-12-26 14:48:27,170.0,1,1.76,0.0,10.56,1.29,yellow,NaN,NaN
5,2016-12-26 15:01:22,230.0,0.0,9.0,0.3,0.5,1,2016-12-26 14:48:27,164.0,1,1.96,0.0,11.76,0.88,yellow,NaN,NaN
6,2016-12-26 15:10:13,13.0,0.0,18.5,0.3,0.5,1,2016-12-26 14:48:27,230.0,1,0.00,0.0,19.30,4.64,yellow,NaN,NaN
7,2016-12-26 14:53:33,160.0,0.0,5.0,0.3,0.5,1,2016-12-26 14:48:28,82.0,1,0.00,0.0,5.80,0.70,yellow,NaN,NaN
8,2016-12-26 14:55:10,236.0,0.0,7.0,0.3,0.5,1,2016-12-26 14:48:28,237.0,1,1.17,0.0,8.97,1.20,yellow,NaN,NaN
9,2016-12-26 15:00:17,162.0,0.0,9.5,0.3,0.5,1,2016-12-26 14:48:28,237.0,1,2.00,0.0,12.30,1.40,yellow,NaN,NaN
10,2016-12-26 14:51:53,43.0,0.0,5.0,0.3,0.5,2,2016-12-26 14:48:28,48.0,1,1.74,0.0,7.54,0.92,yellow,NaN,NaN
11,2016-12-26 14:51:04,140.0,0.0,4.0,0.3,0.5,3,2016-12-26 14:48:28,141.0,1,3.00,0.0,7.80,0.33,yellow,NaN,NaN
12,2016-12-26 15:01:38,50.0,0.0,10.5,0.3,0.5,1,2016-12-26 14:48:29,239.0,1,2.00,0.0,13.30,2.00,yellow,NaN,NaN
13,2016-12-26 14:51:58,234.0,0.0,4.5,0.3,0.5,1,2016-12-26 14:48:29,90.0,1,0.00,0.0,5.30,0.50,yellow,NaN,NaN
14,2016-12-26 14:59:43,237.0,0.0,10.0,0.3,0.5,1,2016-12-26 14:48:29,236.0,1,2.70,0.0,13.50,1.80,yellow,NaN,NaN
15,2016-12-26 15:01:57,161.0,0.0,9.0,0.3,0.5,2,2016-12-26 14:48:29,233.0,1,1.95,0.0,11.75,0.40,yellow,NaN,NaN
16,2016-12-26 15:03:36,161.0,0.0,11.0,0.3,0.5,1,2016-12-26 14:48:29,236.0,1,0.00,0.0,11.80,1.80,yellow,NaN,NaN
17,2016-12-26 14:53:24,237.0,0.0,5.0,0.3,0.5,2,2016-12-26 14:48:29,237.0,1,1.16,0.0,6.96,0.53,yellow,NaN,NaN
18,2016-12-26 14:54:31,237.0,0.0,6.5,0.3,0.5,1,2016-12-26 14:48:29,142.0,1,0.00,0.0,7.30,1.28,yellow,NaN,NaN
19,2016-12-26 15:03:06,161.0,0.0,10.0,0.3,0.5,3,2016-12-26 14:48:29,230.0,1,2.16,0.0,12.96,1.10,yellow,NaN,NaN
20,2016-12-26 14:50:29,236.0,0.0,4.5,0.3,0.5,1,2016-12-26 14:48:30,237.0,1,1.05,0.0,6.35,0.80,yellow,NaN,NaN
21,2016-12-26 14:55:16,170.0,0.0,6.0,0.3,0.5,1,2016-12-26 14:48:30,137.0,1,1.00,0.0,7.80,0.70,yellow,NaN,NaN
22,2016-12-26 14:59:22,263.0,0.0,9.5,0.3,0.5,4,2016-12-26 14:48:30,239.0,1,1.55,0.0,11.85,2.00,yellow,NaN,NaN
23,2016-12-26 14:53:12,142.0,0.0,5.5,0.3,0.5,5,2016-12-26 14:48:30,239.0,1,1.26,0.0,7.56,0.73,yellow,NaN,NaN
24,2016-12-26 15:00:26,237.0,0.0,10.5,0.3,0.5,1,2016-12-26 14:48:30,164.0,1,0.00,0.0,11.30,2.08,yellow,NaN,NaN
25,2016-12-26 14:58:26,229.0,0.0,8.5,0.3,0.5,2,2016-12-26 14:48:30,142.0,1,1.86,0.0,11.16,1.81,yellow,NaN,NaN
26,2016-12-26 15:01:41,186.0,0.0,9.5,0.3,0.5,3,2016-12-26 14:48:30,48.0,1,0.00,0.0,10.30,1.01,yellow,NaN,NaN
27,2016-12-26 14:49:25,90.0,0.0,3.0,0.3,0.5,1,2016-12-26 14:48:30,186.0,1,0.00,0.0,3.80,0.34,yellow,NaN,NaN
28,2016-12-26 15:04:55,164.0,0.0,11.0,0.3,0.5,2,2016-12-26 14:48:30,163.0,1,0.00,0.0,11.80,1.54,yellow,NaN,NaN
29,2016-12-26 14:52:37,261.0,0.0,4.5,0.3,0.5,4,2016-12-26 14:48:30,231.0,1,1.32,0.0,6.62,0.59,yellow,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1930560,2017-01-01 00:21:18,25.0,0.5,31.5,0.3,0.5,1,2016-12-31 23:59:34,138.0,1,9.80,0.0,42.60,10.70,yellow,NaN,NaN
1930561,2017-01-01 00:16:59,226.0,0.5,21.0,0.3,0.5,2,2016-12-31 23:59:36,231.0,1,0.00,0.0,22.30,6.50,yellow,NaN,NaN
1930562,2017-01-01 00:09:43,119.0,0.5,12.5,0.3,0.5,1,2016-12-31 23:59:37,236.0,1,0.00,0.0,13.80,3.90,yellow,NaN,NaN
1930563,2017-01-01 00:14:53,42.0,0.5,21.0,0.3,0.5,1,2016-12-31 23:59:37,213.0,1,14.06,0.0,36.36,6.80,yellow,NaN,NaN
1930564,2017-01-01 00:16:36,42.0,0.5,32.0,0.3,0.5,1,2016-12-31 23:59:37,87.0,1,0.00,0.0,33.30,11.61,yellow,NaN,NaN
1930565,2017-01-01 00:14:31,48.0,0.5,11.0,0.3,0.5,1,2016-12-31 23:59:37,234.0,1,1.84,0.0,14.14,1.97,yellow,NaN,NaN
1930566,2017-01-01 00:18:39,209.0,0.5,24.5,0.3,0.5,1,2016-12-31 23:59:38,43.0,1,0.00,0.0,25.80,7.53,yellow,NaN,NaN
1930567,2017-01-01 00:35:13,233.0,0.5,23.0,0.3,0.5,1,2016-12-31 23:59:39,68.0,1,4.86,0.0,29.16,4.23,yellow,NaN,NaN
1930568,2017-01-01 00:23:15,186.0,0.5,14.5,0.3,0.5,1,2016-12-31 23:59:42,161.0,1,3.15,0.0,18.95,1.50,yellow,NaN,NaN
1930569,2017-01-01 00:02:43,170.0,0.5,4.0,0.3,0.5,1,2016-12-31 23:59:42,162.0,1,0.00,0.0,5.30,0.40,yellow,NaN,NaN
1930570,2017-01-01 00:11:29,170.0,0.5,9.0,0.3,0.5,1,2016-12-31 23:59:42,107.0,1,0.00,0.0,10.30,1.57,yellow,NaN,NaN
1930571,2017-01-01 00:14:59,164.0,0.5,10.5,0.3,0.5,1,2016-12-31 23:59:43,79.0,1,0.00,0.0,11.80,1.50,yellow,NaN,NaN
1930572,2017-01-01 00:04:11,125.0,0.5,6.0,0.3,0.5,1,2016-12-31 23:59:44,68.0,1,1.00,0.0,8.30,1.40,yellow,NaN,NaN
1930573,2017-01-01 00:15:56,256.0,0.5,18.5,0.3,0.5,1,2016-12-31 23:59:44,40.0,1,4.95,0.0,24.75,5.30,yellow,NaN,NaN
1930574,2017-01-01 00:10:47,234.0,0.5,8.5,0.3,0.5,4,2016-12-31 23:59:44,234.0,1,2.94,0.0,12.74,1.42,yellow,NaN,NaN
1930575,2017-01-01 00:00:54,237.0,0.5,2.5,0.3,0.5,1,2016-12-31 23:59:45,237.0,1,0.00,0.0,3.80,0.04,yellow,NaN,NaN
1930576,2017-01-01 00:13:23,141.0,0.5,16.5,0.3,0.5,1,2016-12-31 23:59:46,79.0,1,0.00,0.0,17.80,4.70,yellow,NaN,NaN
1930577,2017-01-01 00:16:46,107.0,0.5,18.0,0.3,0.5,1,2016-12-31 23:59:46,75.0,1,3.86,0.0,23.16,5.13,yellow,NaN,NaN
1930578,2017-01-01 00:13:47,243.0,0.5,20.0,0.3,0.5,6,2016-12-31 23:59:46,262.0,1,3.25,0.0,24.55,6.56,yellow,NaN,NaN
1930579,2017-01-01 00:04:17,238.0,0.5,6.0,0.3,0.5,1,2016-12-31 23:59:48,75.0,1,0.00,0.0,7.30,1.10,yellow,NaN,NaN
1930580,2017-01-01 00:14:07,168.0,0.5,27.0,0.3,0.5,2,2016-12-31 23:59:50,209.0,1,0.00,0.0,28.30,9.50,yellow,NaN,NaN
1930581,2017-01-01 00:24:50,7.0,0.5,44.0,0.3,0.5,1,2016-12-31 23:59:53,132.0,1,9.05,0.0,54.35,15.90,yellow,NaN,NaN
1930582,2017-01-01 00:07:02,234.0,0.5,6.0,0.3,0.5,1,2016-12-31 23:59:53,234.0,1,0.00,0.0,7.30,0.22,yellow,NaN,NaN
1930583,2017-01-01 00:30:21,76.0,0.5,24.5,0.3,0.5,1,2016-12-31 23:59:53,144.0,1,0.00,0.0,25.80,6.69,yellow,NaN,NaN
1930584,2017-01-01 00:06:44,223.0,0.5,10.5,0.3,0.5,1,2016-12-31 23:59:53,138.0,1,0.00,0.0,11.80,3.18,yellow,NaN,NaN
1930585,2017-01-01 00:19:41,94.0,0.5,31.5,0.3,0.5,1,2016-12-31 23:59:54,68.0,1,0.00,0.0,32.80,11.10,yellow,NaN,NaN
1930586,2017-01-01 00:04:29,42.0,0.5,6.0,0.3,0.5,1,2016-12-31 23:59:54,166.0,1,0.00,0.0,7.30,1.14,yellow,NaN,NaN
1930587,2017-01-01 00:09:26,186.0,0.5,7.5,0.3,0.5,2,2016-12-31 23:59:54,68.0,1,0.00,0.0,8.80,0.97,yellow,NaN,NaN
1930588,2017-01-01 00:09:44,229.0,0.5,10.0,0.3,0.5,1,2016-12-31 23:59:54,236.0,1,0.00,0.0,11.30,2.42,yellow,NaN,NaN
1930589,2017-01-01 00:03:50,209.0,0.5,5.0,0.3,0.5,1,2016-12-31 23:59:58,144.0,1,0.00,0.0,6.30,0.70,yellow,NaN,NaN

In [47]:
engine.connect().execute('drop table {}; drop table {};'.format(tableID, tableIDLoc))

In [ ]:
def assign_taxi_zones(df, lon_var, lat_var, locid_var):
    """Joins DataFrame with Taxi Zones shapefile.

    This function takes longitude values provided by `lon_var`, and latitude
    values provided by `lat_var` in DataFrame `df`, and performs a spatial join
    with the NYC taxi_zones shapefile. 

    The shapefile is hard coded in, as this function makes a hard assumption of
    latitude and longitude coordinates. It also assumes latitude=0 and 
    longitude=0 is not a datapoint that can exist in your dataset. Which is 
    reasonable for a dataset of New York, but bad for a global dataset.

    Only rows where `df.lon_var`, `df.lat_var` are reasonably near New York,
    and `df.locid_var` is set to np.nan are updated. 

    Parameters
    ----------
    df : pandas.DataFrame or dask.DataFrame
        DataFrame containing latitudes, longitudes, and location_id columns.
    lon_var : string
        Name of column in `df` containing longitude values. Invalid values 
        should be np.nan.
    lat_var : string
        Name of column in `df` containing latitude values. Invalid values 
        should be np.nan
    locid_var : string
        Name of column in `df` containing taxi_zone location ids. Rows with
        valid, nonzero values are not overwritten. 
    """

    localdf = df[[lon_var, lat_var, locid_var]].copy()
    # localdf = localdf.reset_index()
    localdf[lon_var] = localdf[lon_var].fillna(value=0.)
    localdf[lat_var] = localdf[lat_var].fillna(value=0.)
    localdf['replace_locid'] = (localdf[locid_var].isnull()
                                & (localdf[lon_var] != 0.)
                                & (localdf[lat_var] != 0.))
    
    
    import sqlalchemy, uuid, os
    engine = sqlalchemy.create_engine(open(os.path.expanduser('~/.sqlconninfo')).read())
    
    tableID = 'uu{}'.format(uuid.uuid1().hex)
    localdf.to_sql(tableID, engine)
    
    conn = engine.connect()
    
    conn.execute()

#     if (np.any(localdf['replace_locid'])):
#         shape_df = geopandas.read_file('../shapefiles/taxi_zones_latlon.shp')
#         shape_df.drop(['OBJECTID', "Shape_Area", "Shape_Leng", "borough", "zone"],
#                       axis=1, inplace=True)

#         try:
#             local_gdf = geopandas.GeoDataFrame(
#                 localdf, crs={'init': 'epsg:4326'},
#                 geometry=[Point(xy) for xy in
#                           zip(localdf[lon_var], localdf[lat_var])])

#             local_gdf = geopandas.sjoin(
#                 local_gdf, shape_df, how='left', op='intersects')

#             # one point can intersect more than one zone -- for example if on
#             # the boundary between two zones. Deduplicate by taking first valid.
#             local_gdf = local_gdf[~local_gdf.index.duplicated(keep='first')]

#             local_gdf.LocationID.values[~local_gdf.replace_locid] = (
#                 (local_gdf[locid_var])[~local_gdf.replace_locid]).values

#             return local_gdf.LocationID.rename(locid_var).astype(np.float64)
#         except ValueError as ve:
#             print(ve)
#             print(ve.stacktrace())
#             return df[locid_var]
#     else:
#         return df[locid_var]